/* typography */
body, html {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #555;
    height: 100%;
}

/* navigation bar */
.nav {
    position: static;
    width: 100%;
  	float: right;
  	margin: 0;
  	padding: 0;
  	list-style: none;
}

.nav ul {
    list-style-type: none;
    overflow: hidden;
    display: flex;
    float: right;
    margin: 0;
    padding: 0;
}

.nav li {
    display: inline;
    float: right;
    margin-bottom: 20px;
}

.nav li a:hover {
    color: #538cc6;
}

.nav a {
    display: block;
    padding: 15px;
    color: #666;
    text-decoration: none;
}

/* profile content */
header h1{
    margin-top: 0px;
    margin-bottom: 20px;
    text-align: center;
    padding:10px;
}

.profile-picture {
    text-align: center;
}

.profile-picture img {
    border-radius: 3%;
    width: 32%;
}

.list {
    text-align: center;
}

.list ul {
    display: inline-block;
    margin: auto;
    padding: auto;
    position: relative;
}

.list li {
    text-align: left;
    height: 25px;
    line-height: 25px;
}

.about-me-paragraphs {
    width: 50%;
    margin: 0 auto;
    padding: 5px;
    border-width: 10px;
    text-align: justify;
}

blockquote {
    font-family: serif;
    font-style: italic;
    text-align: center;
}

/* gallery */
div.container {
  position: relative;
  width: 96%;
  max-width: 960px;
  margin: 0 auto;
}

/* .gallery {
    float: left;
    margin: 5px;
} */

.three-columns {
  width: 32%;
  display: inline-block;
}

.two-columns {
  width: 48%;
  display: inline-block;
}

/* .gallery img {
    width: 100%;
    height: auto;
    transition: .5s ease;
}

.gallery p {
    text-align: center;
    font-size: 14px;
} */

/* .middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.gallery:hover .middle {
  opacity: 1;
}

.gallery:hover img {
  opacity: 0.3;
}

.text {
  background-color: #666;
  color: white;
  font-size: 14px;
  padding: 14px 28px;
} */

/* footer */
footer {
    display: block;
    text-align: center;
    width: 100%;
    margin-top: 30px;
}

/* style all font awesome icons */
.fa {
    padding: 10px;
    font-size: 20px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin: 5px 2px;
    text-align: center;
    text-decoration: none;
}

/* add a hover effect */
.fa:hover {
    opacity: 0.7;
}

/* set a specific color for each brand */

/* GitHub */
.fa-github {
    background: #333;
    color: white;
}

/* Instagram */
.fa-instagram {
    background: #125688;
    color: white;
}
